openapi: 3.0.3
info:
  title: Booking Brain Developer API
  version: 2.0.0
  license:
    name: Proprietary
    url: https://www.bookingbrain.com/terms
  description: |
    The Booking Brain Developer API gives you full programmatic access to holiday rental
    property search, availability, pricing, booking, and payment — everything you need
    to build a custom booking experience on top of the Booking Brain platform.

    ## Authentication

    Every request must include an `X-API-Key` header. Keys are issued per-client and
    scoped to specific IP addresses and origins.

    ```
    X-API-Key: bb_sandbox_test_key_do_not_use_in_production
    ```

    **Sandbox keys** are available for development and testing. They return real search
    and property data but will not create actual bookings or process payments.

    ## Rate Limiting

    Each API key has a configurable rate limit. When you exceed it, the API returns
    `429 Too Many Requests` with a `Retry-After` header indicating how many seconds
    to wait before retrying.

    ## Pagination

    List endpoints return paginated results. Use `page` (1-based) and `limit` query
    parameters to navigate. Response metadata includes `total`, `page`, `limit`, and
    `totalPages` (or equivalent fields).

    ## Error Handling

    All errors follow a consistent shape:

    ```json
    {
      "statusCode": 403,
      "message": "Forbidden",
      "error": "Forbidden"
    }
    ```

    Validation errors (422) return `message` as an array of human-readable strings.

    ## Typical Booking Flow

    1. **Search** — `GET /developer/search` to find properties
    2. **Detail** — `GET /developer/properties/{id}` for full listing info
    3. **Availability** — `GET /developer/properties/{id}/unavailableDates` to populate a calendar
    4. **Pricing** — `POST /developer/properties/{id}/get-price` to calculate the total
    5. **Book** — `POST /developer/bookings/save` to create the reservation
    6. **Pay** — `POST /developer/bookings/processPayment` to charge the guest's card
  contact:
    name: Booking Brain Support
    email: support@bookingbrain.co.uk
    url: https://docs.bookingbrain.com

servers:
  - url: https://app.bookingbrain.com/api/v2
    description: Production

security:
  - ApiKeyAuth: []

tags:
  - name: Property Search
    description: Search and discover holiday rental properties
  - name: Property Details
    description: Full property information, images, reviews, extras, and owner contact
  - name: Availability & Pricing
    description: Calendar availability, start days, short breaks, and price calculation
  - name: Booking
    description: Create bookings and validate discount vouchers
  - name: Payment
    description: Process card payments via the SagePay/Opayo gateway
  - name: Places
    description: Destination areas and location-based property listings
  - name: Usage
    description: API usage statistics and detailed request logs

paths:
  # ──────────────────────────────────────────────
  # Property Search
  # ──────────────────────────────────────────────

  /developer/search:
    get:
      operationId: searchProperties
      summary: Search properties with filters
      description: >
        Search holiday rental properties by location, dates, guest count, and amenities.
        Returns paginated results with property summaries including title, price, images,
        and availability. Use this as the starting point for any property discovery flow.
      tags:
        - Property Search
      parameters:
        - name: place
          in: query
          required: false
          description: Place slug or name (e.g., "exmoor", "north-devon")
          schema:
            type: string
          example: exmoor
        - name: checkin
          in: query
          required: false
          description: Check-in date (YYYY-MM-DD)
          schema:
            type: string
            format: date
          example: "2026-07-01"
        - name: nights
          in: query
          required: false
          description: Number of nights
          schema:
            type: integer
            minimum: 1
          example: 7
        - name: guests
          in: query
          required: false
          description: Number of guests
          schema:
            type: integer
            minimum: 1
          example: 4
        - name: bedrooms
          in: query
          required: false
          description: Minimum number of bedrooms
          schema:
            type: integer
            minimum: 1
          example: 2
        - name: pets
          in: query
          required: false
          description: '"yes" to filter pet-friendly properties only'
          schema:
            type: string
            enum:
              - "yes"
          example: "yes"
        - name: page
          in: query
          required: false
          description: 'Page number (default: 1)'
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: limit
          in: query
          required: false
          description: 'Results per page (default: 20, max: 100)'
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          example: 20
        - name: sort
          in: query
          required: false
          description: 'Sort field: "price", "rating", or "title"'
          schema:
            type: string
            enum:
              - price
              - rating
              - title
          example: price
      responses:
        "200":
          description: Paginated list of properties matching the search criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResult"
        "403":
          description: Invalid API key, IP not whitelisted, or origin not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded — check Retry-After header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X GET "https://app.bookingbrain.com/api/v2/developer/search?place=exmoor&checkin=2026-07-01&nights=7&guests=4&page=1&limit=20" \
              -H "X-API-Key: bb_sandbox_test_key_do_not_use_in_production"
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              "https://app.bookingbrain.com/api/v2/developer/search?place=exmoor&checkin=2026-07-01&nights=7&guests=4&page=1&limit=20",
              {
                headers: {
                  "X-API-Key": "bb_sandbox_test_key_do_not_use_in_production",
                },
              }
            );
            const data = await response.json();
            console.log(data);
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://app.bookingbrain.com/api/v2/developer/search",
                params={
                    "place": "exmoor",
                    "checkin": "2026-07-01",
                    "nights": 7,
                    "guests": 4,
                    "page": 1,
                    "limit": 20,
                },
                headers={"X-API-Key": "bb_sandbox_test_key_do_not_use_in_production"},
            )
            print(response.json())
        - lang: C#
          label: C#
          source: |
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Add("X-API-Key", "bb_sandbox_test_key_do_not_use_in_production");

            var response = await client.GetAsync(
                "https://app.bookingbrain.com/api/v2/developer/search?place=exmoor&checkin=2026-07-01&nights=7&guests=4&page=1&limit=20"
            );
            var json = await response.Content.ReadAsStringAsync();
            Console.WriteLine(json);
        - lang: PHP
          label: PHP
          source: |
            $ch = curl_init();
            curl_setopt_array($ch, [
                CURLOPT_URL => "https://app.bookingbrain.com/api/v2/developer/search?place=exmoor&checkin=2026-07-01&nights=7&guests=4&page=1&limit=20",
                CURLOPT_RETURNTRANSFER => true,
                CURLOPT_HTTPHEADER => [
                    "X-API-Key: bb_sandbox_test_key_do_not_use_in_production",
                ],
            ]);
            $response = curl_exec($ch);
            curl_close($ch);
            echo $response;

  /developer/properties/specialoffers:
    get:
      operationId: getAllSpecialOffers
      summary: Get special offers across all properties
      description: >
        Retrieve current special offers and promotional prices across all properties.
        Returns discounted stays with check-in/check-out dates and offer prices.
        Use this to highlight deals on a homepage or promotions page.
      tags:
        - Property Search
      responses:
        "200":
          description: List of special offers across all properties
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SpecialOffer"
        "403":
          description: Invalid API key, IP not whitelisted, or origin not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded — check Retry-After header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X GET "https://app.bookingbrain.com/api/v2/developer/properties/specialoffers" \
              -H "X-API-Key: bb_sandbox_test_key_do_not_use_in_production"
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              "https://app.bookingbrain.com/api/v2/developer/properties/specialoffers",
              {
                headers: {
                  "X-API-Key": "bb_sandbox_test_key_do_not_use_in_production",
                },
              }
            );
            const data = await response.json();
            console.log(data);
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://app.bookingbrain.com/api/v2/developer/properties/specialoffers",
                headers={"X-API-Key": "bb_sandbox_test_key_do_not_use_in_production"},
            )
            print(response.json())
        - lang: C#
          label: C#
          source: |
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Add("X-API-Key", "bb_sandbox_test_key_do_not_use_in_production");

            var response = await client.GetAsync(
                "https://app.bookingbrain.com/api/v2/developer/properties/specialoffers"
            );
            var json = await response.Content.ReadAsStringAsync();
            Console.WriteLine(json);
        - lang: PHP
          label: PHP
          source: |
            $ch = curl_init();
            curl_setopt_array($ch, [
                CURLOPT_URL => "https://app.bookingbrain.com/api/v2/developer/properties/specialoffers",
                CURLOPT_RETURNTRANSFER => true,
                CURLOPT_HTTPHEADER => [
                    "X-API-Key: bb_sandbox_test_key_do_not_use_in_production",
                ],
            ]);
            $response = curl_exec($ch);
            curl_close($ch);
            echo $response;

  # ──────────────────────────────────────────────
  # Property Details
  # ──────────────────────────────────────────────

  /developer/properties/{id}:
    get:
      operationId: getPropertyById
      summary: Get property details by ID
      description: >
        Get full details for a specific property including title, description, location,
        amenities, pricing information, and images. Use this after finding a property
        via search to display its full listing page.
      tags:
        - Property Details
      parameters:
        - name: id
          in: path
          required: true
          description: Property ID
          schema:
            type: integer
          example: 42
      responses:
        "200":
          description: Full property details including description, amenities, pricing, and location
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PropertyDetailResponse"
        "403":
          description: Invalid API key, IP not whitelisted, or origin not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Property not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded — check Retry-After header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X GET "https://app.bookingbrain.com/api/v2/developer/properties/42" \
              -H "X-API-Key: bb_sandbox_test_key_do_not_use_in_production"
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              "https://app.bookingbrain.com/api/v2/developer/properties/42",
              {
                headers: {
                  "X-API-Key": "bb_sandbox_test_key_do_not_use_in_production",
                },
              }
            );
            const data = await response.json();
            console.log(data);
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://app.bookingbrain.com/api/v2/developer/properties/42",
                headers={"X-API-Key": "bb_sandbox_test_key_do_not_use_in_production"},
            )
            print(response.json())
        - lang: C#
          label: C#
          source: |
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Add("X-API-Key", "bb_sandbox_test_key_do_not_use_in_production");

            var response = await client.GetAsync(
                "https://app.bookingbrain.com/api/v2/developer/properties/42"
            );
            var json = await response.Content.ReadAsStringAsync();
            Console.WriteLine(json);
        - lang: PHP
          label: PHP
          source: |
            $ch = curl_init();
            curl_setopt_array($ch, [
                CURLOPT_URL => "https://app.bookingbrain.com/api/v2/developer/properties/42",
                CURLOPT_RETURNTRANSFER => true,
                CURLOPT_HTTPHEADER => [
                    "X-API-Key: bb_sandbox_test_key_do_not_use_in_production",
                ],
            ]);
            $response = curl_exec($ch);
            curl_close($ch);
            echo $response;

  /developer/{placeSlug}/{propertySlug}:
    get:
      operationId: getPropertyBySlug
      summary: Get property by place and property slug
      description: >
        Look up a property using its URL-friendly slugs (place and property). Returns
        the same full detail as getPropertyById. Use this when you have a human-readable
        URL like "/porlock/meadow-cottage" rather than a numeric ID.
      tags:
        - Property Details
      parameters:
        - name: placeSlug
          in: path
          required: true
          description: Place slug (e.g., "porlock", "north-devon")
          schema:
            type: string
          example: porlock
        - name: propertySlug
          in: path
          required: true
          description: Property slug (e.g., "meadow-cottage")
          schema:
            type: string
          example: meadow-cottage
      responses:
        "200":
          description: Full property details resolved from the slug pair
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PropertyDetailResponse"
        "403":
          description: Invalid API key, IP not whitelisted, or origin not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Property not found for the given slug combination
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded — check Retry-After header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X GET "https://app.bookingbrain.com/api/v2/developer/porlock/meadow-cottage" \
              -H "X-API-Key: bb_sandbox_test_key_do_not_use_in_production"
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              "https://app.bookingbrain.com/api/v2/developer/porlock/meadow-cottage",
              {
                headers: {
                  "X-API-Key": "bb_sandbox_test_key_do_not_use_in_production",
                },
              }
            );
            const data = await response.json();
            console.log(data);
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://app.bookingbrain.com/api/v2/developer/porlock/meadow-cottage",
                headers={"X-API-Key": "bb_sandbox_test_key_do_not_use_in_production"},
            )
            print(response.json())
        - lang: C#
          label: C#
          source: |
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Add("X-API-Key", "bb_sandbox_test_key_do_not_use_in_production");

            var response = await client.GetAsync(
                "https://app.bookingbrain.com/api/v2/developer/porlock/meadow-cottage"
            );
            var json = await response.Content.ReadAsStringAsync();
            Console.WriteLine(json);
        - lang: PHP
          label: PHP
          source: |
            $ch = curl_init();
            curl_setopt_array($ch, [
                CURLOPT_URL => "https://app.bookingbrain.com/api/v2/developer/porlock/meadow-cottage",
                CURLOPT_RETURNTRANSFER => true,
                CURLOPT_HTTPHEADER => [
                    "X-API-Key: bb_sandbox_test_key_do_not_use_in_production",
                ],
            ]);
            $response = curl_exec($ch);
            curl_close($ch);
            echo $response;

  /developer/properties/{id}/extras:
    get:
      operationId: getPropertyExtras
      summary: Get property extras/add-ons
      description: >
        Retrieve bookable extras and add-ons for a property such as dogs, cots, high
        chairs, and log baskets. Returns a map keyed by extra type with pricing and
        quantity limits. Use this to display optional extras during the booking flow.
      tags:
        - Property Details
      parameters:
        - name: id
          in: path
          required: true
          description: Property ID
          schema:
            type: integer
          example: 42
      responses:
        "200":
          description: Map of available extras keyed by extra_name_id, with pricing and quantity limits
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: "#/components/schemas/Extra"
                example:
                  "1":
                    id: 87
                    property_id: 42
                    extra_name_id: 1
                    price: 25.00
                    name: Dog
                    max_num: 2
                    per_night: false
                    unit: per_stay
                  "3":
                    id: 89
                    property_id: 42
                    extra_name_id: 3
                    price: 10.00
                    name: Cot
                    max_num: 1
                    per_night: false
                    unit: per_stay
        "403":
          description: Invalid API key, IP not whitelisted, or origin not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Property not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded — check Retry-After header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X GET "https://app.bookingbrain.com/api/v2/developer/properties/42/extras" \
              -H "X-API-Key: bb_sandbox_test_key_do_not_use_in_production"
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              "https://app.bookingbrain.com/api/v2/developer/properties/42/extras",
              {
                headers: {
                  "X-API-Key": "bb_sandbox_test_key_do_not_use_in_production",
                },
              }
            );
            const data = await response.json();
            console.log(data);
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://app.bookingbrain.com/api/v2/developer/properties/42/extras",
                headers={"X-API-Key": "bb_sandbox_test_key_do_not_use_in_production"},
            )
            print(response.json())
        - lang: C#
          label: C#
          source: |
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Add("X-API-Key", "bb_sandbox_test_key_do_not_use_in_production");

            var response = await client.GetAsync(
                "https://app.bookingbrain.com/api/v2/developer/properties/42/extras"
            );
            var json = await response.Content.ReadAsStringAsync();
            Console.WriteLine(json);
        - lang: PHP
          label: PHP
          source: |
            $ch = curl_init();
            curl_setopt_array($ch, [
                CURLOPT_URL => "https://app.bookingbrain.com/api/v2/developer/properties/42/extras",
                CURLOPT_RETURNTRANSFER => true,
                CURLOPT_HTTPHEADER => [
                    "X-API-Key: bb_sandbox_test_key_do_not_use_in_production",
                ],
            ]);
            $response = curl_exec($ch);
            curl_close($ch);
            echo $response;

  /developer/properties/{id}/reviews:
    get:
      operationId: getPropertyReviews
      summary: Get property reviews (paginated)
      description: >
        Retrieve published guest reviews for a property, ordered by most recent first.
        Returns star ratings, sub-ratings (cleanliness, location, value), review text,
        and guest name. Use this to display social proof on a property listing page.
      tags:
        - Property Details
      parameters:
        - name: id
          in: path
          required: true
          description: Property ID
          schema:
            type: integer
          example: 42
        - name: page
          in: query
          required: false
          description: 'Page number (default: 1)'
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: limit
          in: query
          required: false
          description: 'Reviews per page (default: 10)'
          schema:
            type: integer
            minimum: 1
            default: 10
          example: 10
      responses:
        "200":
          description: Paginated list of published reviews with ratings and review text
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the request was successful
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Review"
                    description: Array of published reviews
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "403":
          description: Invalid API key, IP not whitelisted, or origin not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Property not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded — check Retry-After header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X GET "https://app.bookingbrain.com/api/v2/developer/properties/42/reviews?page=1&limit=10" \
              -H "X-API-Key: bb_sandbox_test_key_do_not_use_in_production"
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              "https://app.bookingbrain.com/api/v2/developer/properties/42/reviews?page=1&limit=10",
              {
                headers: {
                  "X-API-Key": "bb_sandbox_test_key_do_not_use_in_production",
                },
              }
            );
            const data = await response.json();
            console.log(data);
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://app.bookingbrain.com/api/v2/developer/properties/42/reviews",
                params={"page": 1, "limit": 10},
                headers={"X-API-Key": "bb_sandbox_test_key_do_not_use_in_production"},
            )
            print(response.json())
        - lang: C#
          label: C#
          source: |
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Add("X-API-Key", "bb_sandbox_test_key_do_not_use_in_production");

            var response = await client.GetAsync(
                "https://app.bookingbrain.com/api/v2/developer/properties/42/reviews?page=1&limit=10"
            );
            var json = await response.Content.ReadAsStringAsync();
            Console.WriteLine(json);
        - lang: PHP
          label: PHP
          source: |
            $ch = curl_init();
            curl_setopt_array($ch, [
                CURLOPT_URL => "https://app.bookingbrain.com/api/v2/developer/properties/42/reviews?page=1&limit=10",
                CURLOPT_RETURNTRANSFER => true,
                CURLOPT_HTTPHEADER => [
                    "X-API-Key: bb_sandbox_test_key_do_not_use_in_production",
                ],
            ]);
            $response = curl_exec($ch);
            curl_close($ch);
            echo $response;

  /developer/properties/{id}/images:
    get:
      operationId: getPropertyImages
      summary: Get property images
      description: >
        Retrieve all images for a property, split into legacy (original server) and GCS
        (Google Cloud Storage) collections. Each image includes URLs, alt text, and
        display ordering. Use this to build a photo gallery or carousel on the property page.
      tags:
        - Property Details
      parameters:
        - name: id
          in: path
          required: true
          description: Property ID
          schema:
            type: integer
          example: 42
      responses:
        "200":
          description: Legacy and GCS images for the property, ordered by display position
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PropertyImages"
        "403":
          description: Invalid API key, IP not whitelisted, or origin not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Property not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded — check Retry-After header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X GET "https://app.bookingbrain.com/api/v2/developer/properties/42/images" \
              -H "X-API-Key: bb_sandbox_test_key_do_not_use_in_production"
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              "https://app.bookingbrain.com/api/v2/developer/properties/42/images",
              {
                headers: {
                  "X-API-Key": "bb_sandbox_test_key_do_not_use_in_production",
                },
              }
            );
            const data = await response.json();
            console.log(data);
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://app.bookingbrain.com/api/v2/developer/properties/42/images",
                headers={"X-API-Key": "bb_sandbox_test_key_do_not_use_in_production"},
            )
            print(response.json())
        - lang: C#
          label: C#
          source: |
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Add("X-API-Key", "bb_sandbox_test_key_do_not_use_in_production");

            var response = await client.GetAsync(
                "https://app.bookingbrain.com/api/v2/developer/properties/42/images"
            );
            var json = await response.Content.ReadAsStringAsync();
            Console.WriteLine(json);
        - lang: PHP
          label: PHP
          source: |
            $ch = curl_init();
            curl_setopt_array($ch, [
                CURLOPT_URL => "https://app.bookingbrain.com/api/v2/developer/properties/42/images",
                CURLOPT_RETURNTRANSFER => true,
                CURLOPT_HTTPHEADER => [
                    "X-API-Key: bb_sandbox_test_key_do_not_use_in_production",
                ],
            ]);
            $response = curl_exec($ch);
            curl_close($ch);
            echo $response;

  /developer/properties/{id}/bedrooms:
    get:
      operationId: getPropertyBedrooms
      summary: Get property bedroom information
      description: >
        Retrieve detailed bedroom configuration for a property including bed types and
        sizes per room. Use this to display a bedroom breakdown on the property listing
        page so guests can see sleeping arrangements.
      tags:
        - Property Details
      parameters:
        - name: id
          in: path
          required: true
          description: Property ID
          schema:
            type: integer
          example: 42
      responses:
        "200":
          description: Array of bedroom configurations with bed types and counts
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    bedroom_number:
                      type: integer
                      description: Bedroom number (1-based)
                      example: 1
                    bed_type:
                      type: string
                      description: Type of bed in this bedroom
                      example: King
                    bed_count:
                      type: integer
                      description: Number of beds of this type
                      example: 1
                    en_suite:
                      type: boolean
                      description: Whether this bedroom has an en-suite bathroom
                      example: true
        "403":
          description: Invalid API key, IP not whitelisted, or origin not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Property not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded — check Retry-After header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X GET "https://app.bookingbrain.com/api/v2/developer/properties/42/bedrooms" \
              -H "X-API-Key: bb_sandbox_test_key_do_not_use_in_production"
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              "https://app.bookingbrain.com/api/v2/developer/properties/42/bedrooms",
              {
                headers: {
                  "X-API-Key": "bb_sandbox_test_key_do_not_use_in_production",
                },
              }
            );
            const data = await response.json();
            console.log(data);
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://app.bookingbrain.com/api/v2/developer/properties/42/bedrooms",
                headers={"X-API-Key": "bb_sandbox_test_key_do_not_use_in_production"},
            )
            print(response.json())
        - lang: C#
          label: C#
          source: |
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Add("X-API-Key", "bb_sandbox_test_key_do_not_use_in_production");

            var response = await client.GetAsync(
                "https://app.bookingbrain.com/api/v2/developer/properties/42/bedrooms"
            );
            var json = await response.Content.ReadAsStringAsync();
            Console.WriteLine(json);
        - lang: PHP
          label: PHP
          source: |
            $ch = curl_init();
            curl_setopt_array($ch, [
                CURLOPT_URL => "https://app.bookingbrain.com/api/v2/developer/properties/42/bedrooms",
                CURLOPT_RETURNTRANSFER => true,
                CURLOPT_HTTPHEADER => [
                    "X-API-Key: bb_sandbox_test_key_do_not_use_in_production",
                ],
            ]);
            $response = curl_exec($ch);
            curl_close($ch);
            echo $response;

  /developer/properties/{id}/owner-contact:
    get:
      operationId: getOwnerContact
      summary: Get property owner contact info
      description: >
        Retrieve the property owner's contact details including name, email, and phone
        number. Use this to enable direct owner communication features or display owner
        information on the listing. Returns null data if no owner is associated with the property.
      tags:
        - Property Details
      parameters:
        - name: id
          in: path
          required: true
          description: Property ID
          schema:
            type: integer
          example: 42
      responses:
        "200":
          description: Owner contact details (name, email, phone) or null if no owner found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OwnerContactResponse"
        "403":
          description: Invalid API key, IP not whitelisted, or origin not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Property not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded — check Retry-After header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X GET "https://app.bookingbrain.com/api/v2/developer/properties/42/owner-contact" \
              -H "X-API-Key: bb_sandbox_test_key_do_not_use_in_production"
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              "https://app.bookingbrain.com/api/v2/developer/properties/42/owner-contact",
              {
                headers: {
                  "X-API-Key": "bb_sandbox_test_key_do_not_use_in_production",
                },
              }
            );
            const data = await response.json();
            console.log(data);
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://app.bookingbrain.com/api/v2/developer/properties/42/owner-contact",
                headers={"X-API-Key": "bb_sandbox_test_key_do_not_use_in_production"},
            )
            print(response.json())
        - lang: C#
          label: C#
          source: |
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Add("X-API-Key", "bb_sandbox_test_key_do_not_use_in_production");

            var response = await client.GetAsync(
                "https://app.bookingbrain.com/api/v2/developer/properties/42/owner-contact"
            );
            var json = await response.Content.ReadAsStringAsync();
            Console.WriteLine(json);
        - lang: PHP
          label: PHP
          source: |
            $ch = curl_init();
            curl_setopt_array($ch, [
                CURLOPT_URL => "https://app.bookingbrain.com/api/v2/developer/properties/42/owner-contact",
                CURLOPT_RETURNTRANSFER => true,
                CURLOPT_HTTPHEADER => [
                    "X-API-Key: bb_sandbox_test_key_do_not_use_in_production",
                ],
            ]);
            $response = curl_exec($ch);
            curl_close($ch);
            echo $response;

  /developer/properties/{id}/specialoffers:
    get:
      operationId: getPropertySpecialOffers
      summary: Get special offers for a specific property
      description: >
        Retrieve current special offers and promotional prices for a single property.
        Returns discounted date ranges with offer prices. Use this to highlight deals
        on the property detail page or in a booking widget.
      tags:
        - Property Details
      parameters:
        - name: id
          in: path
          required: true
          description: Property ID
          schema:
            type: integer
          example: 42
      responses:
        "200":
          description: List of active special offers for the property
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SpecialOffer"
        "403":
          description: Invalid API key, IP not whitelisted, or origin not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Property not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded — check Retry-After header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X GET "https://app.bookingbrain.com/api/v2/developer/properties/42/specialoffers" \
              -H "X-API-Key: bb_sandbox_test_key_do_not_use_in_production"
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              "https://app.bookingbrain.com/api/v2/developer/properties/42/specialoffers",
              {
                headers: {
                  "X-API-Key": "bb_sandbox_test_key_do_not_use_in_production",
                },
              }
            );
            const data = await response.json();
            console.log(data);
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://app.bookingbrain.com/api/v2/developer/properties/42/specialoffers",
                headers={"X-API-Key": "bb_sandbox_test_key_do_not_use_in_production"},
            )
            print(response.json())
        - lang: C#
          label: C#
          source: |
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Add("X-API-Key", "bb_sandbox_test_key_do_not_use_in_production");

            var response = await client.GetAsync(
                "https://app.bookingbrain.com/api/v2/developer/properties/42/specialoffers"
            );
            var json = await response.Content.ReadAsStringAsync();
            Console.WriteLine(json);
        - lang: PHP
          label: PHP
          source: |
            $ch = curl_init();
            curl_setopt_array($ch, [
                CURLOPT_URL => "https://app.bookingbrain.com/api/v2/developer/properties/42/specialoffers",
                CURLOPT_RETURNTRANSFER => true,
                CURLOPT_HTTPHEADER => [
                    "X-API-Key: bb_sandbox_test_key_do_not_use_in_production",
                ],
            ]);
            $response = curl_exec($ch);
            curl_close($ch);
            echo $response;

  # ──────────────────────────────────────────────
  # Availability & Pricing
  # ──────────────────────────────────────────────

  /developer/properties/{id}/unavailableDates:
    get:
      operationId: getUnavailableDates
      summary: Get unavailable dates for a property
      description: >
        Retrieve all dates that are unavailable (booked or blocked) for a property.
        Returns an array of date strings that cannot be selected as check-in or stay
        dates. Use this to grey out dates in a calendar/datepicker widget.
      tags:
        - Availability & Pricing
      parameters:
        - name: id
          in: path
          required: true
          description: Property ID
          schema:
            type: integer
          example: 42
        - name: year
          in: query
          required: false
          description: Filter by year (optional)
          schema:
            type: string
          example: "2026"
        - name: month
          in: query
          required: false
          description: Filter by month 1-12 (optional)
          schema:
            type: string
          example: "7"
      responses:
        "200":
          description: Array of unavailable date strings for the property calendar
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  format: date
                example:
                  - "2026-07-05"
                  - "2026-07-06"
                  - "2026-07-07"
                  - "2026-07-08"
                  - "2026-07-09"
                  - "2026-07-10"
                  - "2026-07-11"
        "403":
          description: Invalid API key, IP not whitelisted, or origin not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Property not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded — check Retry-After header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X GET "https://app.bookingbrain.com/api/v2/developer/properties/42/unavailableDates?year=2026&month=7" \
              -H "X-API-Key: bb_sandbox_test_key_do_not_use_in_production"
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              "https://app.bookingbrain.com/api/v2/developer/properties/42/unavailableDates?year=2026&month=7",
              {
                headers: {
                  "X-API-Key": "bb_sandbox_test_key_do_not_use_in_production",
                },
              }
            );
            const data = await response.json();
            console.log(data);
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://app.bookingbrain.com/api/v2/developer/properties/42/unavailableDates",
                params={"year": "2026", "month": "7"},
                headers={"X-API-Key": "bb_sandbox_test_key_do_not_use_in_production"},
            )
            print(response.json())
        - lang: C#
          label: C#
          source: |
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Add("X-API-Key", "bb_sandbox_test_key_do_not_use_in_production");

            var response = await client.GetAsync(
                "https://app.bookingbrain.com/api/v2/developer/properties/42/unavailableDates?year=2026&month=7"
            );
            var json = await response.Content.ReadAsStringAsync();
            Console.WriteLine(json);
        - lang: PHP
          label: PHP
          source: |
            $ch = curl_init();
            curl_setopt_array($ch, [
                CURLOPT_URL => "https://app.bookingbrain.com/api/v2/developer/properties/42/unavailableDates?year=2026&month=7",
                CURLOPT_RETURNTRANSFER => true,
                CURLOPT_HTTPHEADER => [
                    "X-API-Key: bb_sandbox_test_key_do_not_use_in_production",
                ],
            ]);
            $response = curl_exec($ch);
            curl_close($ch);
            echo $response;

  /developer/properties/{id}/startDays:
    get:
      operationId: getStartDays
      summary: Get available start days for a property
      description: >
        Retrieve the days of the week on which new bookings can start for a property
        (e.g., Friday and Saturday only). Returns day-of-week rules that restrict
        check-in days. Use this to disable non-start days in your datepicker.
      tags:
        - Availability & Pricing
      parameters:
        - name: id
          in: path
          required: true
          description: Property ID
          schema:
            type: integer
          example: 42
      responses:
        "200":
          description: Start day rules indicating which days of the week allow check-in
          content:
            application/json:
              schema:
                type: object
                description: Start day configuration — keys are day names, values are booleans
                example:
                  monday: false
                  tuesday: false
                  wednesday: false
                  thursday: false
                  friday: true
                  saturday: true
                  sunday: false
        "403":
          description: Invalid API key, IP not whitelisted, or origin not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Property not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded — check Retry-After header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X GET "https://app.bookingbrain.com/api/v2/developer/properties/42/startDays" \
              -H "X-API-Key: bb_sandbox_test_key_do_not_use_in_production"
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              "https://app.bookingbrain.com/api/v2/developer/properties/42/startDays",
              {
                headers: {
                  "X-API-Key": "bb_sandbox_test_key_do_not_use_in_production",
                },
              }
            );
            const data = await response.json();
            console.log(data);
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://app.bookingbrain.com/api/v2/developer/properties/42/startDays",
                headers={"X-API-Key": "bb_sandbox_test_key_do_not_use_in_production"},
            )
            print(response.json())
        - lang: C#
          label: C#
          source: |
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Add("X-API-Key", "bb_sandbox_test_key_do_not_use_in_production");

            var response = await client.GetAsync(
                "https://app.bookingbrain.com/api/v2/developer/properties/42/startDays"
            );
            var json = await response.Content.ReadAsStringAsync();
            Console.WriteLine(json);
        - lang: PHP
          label: PHP
          source: |
            $ch = curl_init();
            curl_setopt_array($ch, [
                CURLOPT_URL => "https://app.bookingbrain.com/api/v2/developer/properties/42/startDays",
                CURLOPT_RETURNTRANSFER => true,
                CURLOPT_HTTPHEADER => [
                    "X-API-Key: bb_sandbox_test_key_do_not_use_in_production",
                ],
            ]);
            $response = curl_exec($ch);
            curl_close($ch);
            echo $response;

  /developer/properties/{id}/shortBreaks:
    get:
      operationId: getShortBreaks
      summary: Get short break rules for a property
      description: >
        Retrieve short break configuration for a property including minimum night
        requirements, allowed start days, and seasonal rules. Use this to determine
        whether short stays (less than 7 nights) are available and on which dates.
      tags:
        - Availability & Pricing
      parameters:
        - name: id
          in: path
          required: true
          description: Property ID
          schema:
            type: integer
          example: 42
      responses:
        "200":
          description: Short break rules including minimum nights and seasonal availability
          content:
            application/json:
              schema:
                type: object
                description: Short break configuration
                example:
                  short_breaks_enabled: true
                  min_nights: 3
                  allowed_start_days:
                    - friday
                    - saturday
                  seasonal_rules:
                    - season: low
                      min_nights: 2
                    - season: high
                      min_nights: 7
        "403":
          description: Invalid API key, IP not whitelisted, or origin not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Property not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded — check Retry-After header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X GET "https://app.bookingbrain.com/api/v2/developer/properties/42/shortBreaks" \
              -H "X-API-Key: bb_sandbox_test_key_do_not_use_in_production"
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              "https://app.bookingbrain.com/api/v2/developer/properties/42/shortBreaks",
              {
                headers: {
                  "X-API-Key": "bb_sandbox_test_key_do_not_use_in_production",
                },
              }
            );
            const data = await response.json();
            console.log(data);
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://app.bookingbrain.com/api/v2/developer/properties/42/shortBreaks",
                headers={"X-API-Key": "bb_sandbox_test_key_do_not_use_in_production"},
            )
            print(response.json())
        - lang: C#
          label: C#
          source: |
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Add("X-API-Key", "bb_sandbox_test_key_do_not_use_in_production");

            var response = await client.GetAsync(
                "https://app.bookingbrain.com/api/v2/developer/properties/42/shortBreaks"
            );
            var json = await response.Content.ReadAsStringAsync();
            Console.WriteLine(json);
        - lang: PHP
          label: PHP
          source: |
            $ch = curl_init();
            curl_setopt_array($ch, [
                CURLOPT_URL => "https://app.bookingbrain.com/api/v2/developer/properties/42/shortBreaks",
                CURLOPT_RETURNTRANSFER => true,
                CURLOPT_HTTPHEADER => [
                    "X-API-Key: bb_sandbox_test_key_do_not_use_in_production",
                ],
            ]);
            $response = curl_exec($ch);
            curl_close($ch);
            echo $response;

  /developer/properties/{id}/start-dates:
    get:
      operationId: getStartDates
      summary: Get available start dates for next N months
      description: >
        Retrieve specific available check-in dates for a property over the next N months.
        Unlike startDays (which returns day-of-week rules), this returns actual calendar
        dates that are open for new bookings. Use this to populate an availability
        calendar with selectable dates.
      tags:
        - Availability & Pricing
      parameters:
        - name: id
          in: path
          required: true
          description: Property ID
          schema:
            type: integer
          example: 42
        - name: months
          in: query
          required: false
          description: 'Number of months to look ahead (default: 3)'
          schema:
            type: integer
            default: 3
          example: 3
      responses:
        "200":
          description: Array of available start dates for the requested period
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the request was successful
                    example: true
                  data:
                    type: array
                    items:
                      type: string
                      format: date
                    description: Available check-in dates
                    example:
                      - "2026-07-04"
                      - "2026-07-11"
                      - "2026-07-18"
                      - "2026-07-25"
        "403":
          description: Invalid API key, IP not whitelisted, or origin not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Property not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded — check Retry-After header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X GET "https://app.bookingbrain.com/api/v2/developer/properties/42/start-dates?months=3" \
              -H "X-API-Key: bb_sandbox_test_key_do_not_use_in_production"
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              "https://app.bookingbrain.com/api/v2/developer/properties/42/start-dates?months=3",
              {
                headers: {
                  "X-API-Key": "bb_sandbox_test_key_do_not_use_in_production",
                },
              }
            );
            const data = await response.json();
            console.log(data);
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://app.bookingbrain.com/api/v2/developer/properties/42/start-dates",
                params={"months": 3},
                headers={"X-API-Key": "bb_sandbox_test_key_do_not_use_in_production"},
            )
            print(response.json())
        - lang: C#
          label: C#
          source: |
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Add("X-API-Key", "bb_sandbox_test_key_do_not_use_in_production");

            var response = await client.GetAsync(
                "https://app.bookingbrain.com/api/v2/developer/properties/42/start-dates?months=3"
            );
            var json = await response.Content.ReadAsStringAsync();
            Console.WriteLine(json);
        - lang: PHP
          label: PHP
          source: |
            $ch = curl_init();
            curl_setopt_array($ch, [
                CURLOPT_URL => "https://app.bookingbrain.com/api/v2/developer/properties/42/start-dates?months=3",
                CURLOPT_RETURNTRANSFER => true,
                CURLOPT_HTTPHEADER => [
                    "X-API-Key: bb_sandbox_test_key_do_not_use_in_production",
                ],
            ]);
            $response = curl_exec($ch);
            curl_close($ch);
            echo $response;

  /developer/properties/{id}/get-price:
    post:
      operationId: calculatePrice
      summary: Calculate price for a property stay
      description: >
        Calculate the total price for a property stay including any applicable discounts,
        cleaning fees, and service fees. Returns the property charge, discount amount,
        final total in GBP, number of nights, and price per night. A response code of 0
        means available; non-zero codes indicate conflicts or restrictions. Call this
        before creating a booking to show the guest accurate pricing.
      tags:
        - Availability & Pricing
      parameters:
        - name: id
          in: path
          required: true
          description: Property ID
          schema:
            type: integer
          example: 42
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PriceRequest"
      responses:
        "200":
          description: Price calculation result with total, fees, discounts, and availability status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Price"
        "400":
          description: Bad request — malformed body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Invalid API key, IP not whitelisted, or origin not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Property not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed — check message array for details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded — check Retry-After header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X POST "https://app.bookingbrain.com/api/v2/developer/properties/42/get-price" \
              -H "X-API-Key: bb_sandbox_test_key_do_not_use_in_production" \
              -H "Content-Type: application/json" \
              -d '{
                "start_date": "2026-07-04",
                "num_nights": 7,
                "num_guests": 4
              }'
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              "https://app.bookingbrain.com/api/v2/developer/properties/42/get-price",
              {
                method: "POST",
                headers: {
                  "X-API-Key": "bb_sandbox_test_key_do_not_use_in_production",
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({
                  start_date: "2026-07-04",
                  num_nights: 7,
                  num_guests: 4,
                }),
              }
            );
            const data = await response.json();
            console.log(data);
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.post(
                "https://app.bookingbrain.com/api/v2/developer/properties/42/get-price",
                json={
                    "start_date": "2026-07-04",
                    "num_nights": 7,
                    "num_guests": 4,
                },
                headers={"X-API-Key": "bb_sandbox_test_key_do_not_use_in_production"},
            )
            print(response.json())
        - lang: C#
          label: C#
          source: |
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Add("X-API-Key", "bb_sandbox_test_key_do_not_use_in_production");

            var content = new StringContent(
                "{\"start_date\":\"2026-07-04\",\"num_nights\":7,\"num_guests\":4}",
                System.Text.Encoding.UTF8,
                "application/json"
            );
            var response = await client.PostAsync(
                "https://app.bookingbrain.com/api/v2/developer/properties/42/get-price",
                content
            );
            var json = await response.Content.ReadAsStringAsync();
            Console.WriteLine(json);
        - lang: PHP
          label: PHP
          source: |
            $ch = curl_init();
            curl_setopt_array($ch, [
                CURLOPT_URL => "https://app.bookingbrain.com/api/v2/developer/properties/42/get-price",
                CURLOPT_RETURNTRANSFER => true,
                CURLOPT_POST => true,
                CURLOPT_HTTPHEADER => [
                    "X-API-Key: bb_sandbox_test_key_do_not_use_in_production",
                    "Content-Type: application/json",
                ],
                CURLOPT_POSTFIELDS => json_encode([
                    "start_date" => "2026-07-04",
                    "num_nights" => 7,
                    "num_guests" => 4,
                ]),
            ]);
            $response = curl_exec($ch);
            curl_close($ch);
            echo $response;

  /developer/properties/{id}/available-nights:
    post:
      operationId: getAvailableNights
      summary: Get available nights from a check-in date
      description: >
        Given a check-in date, returns the valid night durations available for a property
        (e.g., 3, 4, 7, 14 nights). Takes into account subsequent bookings, minimum stay
        rules, and short break configuration. Use this to populate a "number of nights"
        dropdown after the guest selects a check-in date.
      tags:
        - Availability & Pricing
      parameters:
        - name: id
          in: path
          required: true
          description: Property ID
          schema:
            type: integer
          example: 42
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AvailableNightsRequest"
      responses:
        "200":
          description: Array of valid night durations available from the given check-in date
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
                example:
                  - 3
                  - 4
                  - 7
                  - 10
                  - 14
        "400":
          description: Bad request — malformed body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Invalid API key, IP not whitelisted, or origin not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Property not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed — check message array for details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded — check Retry-After header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X POST "https://app.bookingbrain.com/api/v2/developer/properties/42/available-nights" \
              -H "X-API-Key: bb_sandbox_test_key_do_not_use_in_production" \
              -H "Content-Type: application/json" \
              -d '{"checkin_date": "2026-07-04"}'
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              "https://app.bookingbrain.com/api/v2/developer/properties/42/available-nights",
              {
                method: "POST",
                headers: {
                  "X-API-Key": "bb_sandbox_test_key_do_not_use_in_production",
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({ checkin_date: "2026-07-04" }),
              }
            );
            const data = await response.json();
            console.log(data);
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.post(
                "https://app.bookingbrain.com/api/v2/developer/properties/42/available-nights",
                json={"checkin_date": "2026-07-04"},
                headers={"X-API-Key": "bb_sandbox_test_key_do_not_use_in_production"},
            )
            print(response.json())
        - lang: C#
          label: C#
          source: |
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Add("X-API-Key", "bb_sandbox_test_key_do_not_use_in_production");

            var content = new StringContent(
                "{\"checkin_date\":\"2026-07-04\"}",
                System.Text.Encoding.UTF8,
                "application/json"
            );
            var response = await client.PostAsync(
                "https://app.bookingbrain.com/api/v2/developer/properties/42/available-nights",
                content
            );
            var json = await response.Content.ReadAsStringAsync();
            Console.WriteLine(json);
        - lang: PHP
          label: PHP
          source: |
            $ch = curl_init();
            curl_setopt_array($ch, [
                CURLOPT_URL => "https://app.bookingbrain.com/api/v2/developer/properties/42/available-nights",
                CURLOPT_RETURNTRANSFER => true,
                CURLOPT_POST => true,
                CURLOPT_HTTPHEADER => [
                    "X-API-Key: bb_sandbox_test_key_do_not_use_in_production",
                    "Content-Type: application/json",
                ],
                CURLOPT_POSTFIELDS => json_encode(["checkin_date" => "2026-07-04"]),
            ]);
            $response = curl_exec($ch);
            curl_close($ch);
            echo $response;

  # ──────────────────────────────────────────────
  # Booking
  # ──────────────────────────────────────────────

  /developer/bookings/save:
    post:
      operationId: createBooking
      summary: Submit a booking
      description: >
        Submit a new booking with guest details, dates, and pricing. The booking is
        attributed to your API key's client name for tracking in the admin dashboard.
        In sandbox mode, returns a mock response without creating an actual booking.
        Always call calculatePrice first to get the correct property_charge before submitting.
      tags:
        - Booking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BookingRequest"
      responses:
        "200":
          description: Booking confirmation with booking ID, status, and guest details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookingResult"
        "400":
          description: Bad request — malformed body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Invalid API key, IP not whitelisted, or origin not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed — check message array for details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded — check Retry-After header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X POST "https://app.bookingbrain.com/api/v2/developer/bookings/save" \
              -H "X-API-Key: bb_sandbox_test_key_do_not_use_in_production" \
              -H "Content-Type: application/json" \
              -d '{
                "property_id": 42,
                "checkin": "2026-07-04",
                "checkout": "2026-07-11",
                "nights": 7,
                "guests": 4,
                "property_charge": 895.00,
                "User": {
                  "first_name": "Sarah",
                  "last_name": "Thompson",
                  "email": "sarah.thompson@example.co.uk",
                  "phone": "+44 7700 900123",
                  "address": "14 Harbour View",
                  "city": "Bristol",
                  "country": "United Kingdom"
                }
              }'
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              "https://app.bookingbrain.com/api/v2/developer/bookings/save",
              {
                method: "POST",
                headers: {
                  "X-API-Key": "bb_sandbox_test_key_do_not_use_in_production",
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({
                  property_id: 42,
                  checkin: "2026-07-04",
                  checkout: "2026-07-11",
                  nights: 7,
                  guests: 4,
                  property_charge: 895.0,
                  User: {
                    first_name: "Sarah",
                    last_name: "Thompson",
                    email: "sarah.thompson@example.co.uk",
                    phone: "+44 7700 900123",
                    address: "14 Harbour View",
                    city: "Bristol",
                    country: "United Kingdom",
                  },
                }),
              }
            );
            const data = await response.json();
            console.log(data);
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.post(
                "https://app.bookingbrain.com/api/v2/developer/bookings/save",
                json={
                    "property_id": 42,
                    "checkin": "2026-07-04",
                    "checkout": "2026-07-11",
                    "nights": 7,
                    "guests": 4,
                    "property_charge": 895.00,
                    "User": {
                        "first_name": "Sarah",
                        "last_name": "Thompson",
                        "email": "sarah.thompson@example.co.uk",
                        "phone": "+44 7700 900123",
                        "address": "14 Harbour View",
                        "city": "Bristol",
                        "country": "United Kingdom",
                    },
                },
                headers={"X-API-Key": "bb_sandbox_test_key_do_not_use_in_production"},
            )
            print(response.json())
        - lang: C#
          label: C#
          source: |
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Add("X-API-Key", "bb_sandbox_test_key_do_not_use_in_production");

            var json = @"{
              ""property_id"": 42,
              ""checkin"": ""2026-07-04"",
              ""checkout"": ""2026-07-11"",
              ""nights"": 7,
              ""guests"": 4,
              ""property_charge"": 895.00,
              ""User"": {
                ""first_name"": ""Sarah"",
                ""last_name"": ""Thompson"",
                ""email"": ""sarah.thompson@example.co.uk"",
                ""phone"": ""+44 7700 900123"",
                ""address"": ""14 Harbour View"",
                ""city"": ""Bristol"",
                ""country"": ""United Kingdom""
              }
            }";
            var content = new StringContent(json, System.Text.Encoding.UTF8, "application/json");
            var response = await client.PostAsync(
                "https://app.bookingbrain.com/api/v2/developer/bookings/save",
                content
            );
            Console.WriteLine(await response.Content.ReadAsStringAsync());
        - lang: PHP
          label: PHP
          source: |
            $ch = curl_init();
            curl_setopt_array($ch, [
                CURLOPT_URL => "https://app.bookingbrain.com/api/v2/developer/bookings/save",
                CURLOPT_RETURNTRANSFER => true,
                CURLOPT_POST => true,
                CURLOPT_HTTPHEADER => [
                    "X-API-Key: bb_sandbox_test_key_do_not_use_in_production",
                    "Content-Type: application/json",
                ],
                CURLOPT_POSTFIELDS => json_encode([
                    "property_id" => 42,
                    "checkin" => "2026-07-04",
                    "checkout" => "2026-07-11",
                    "nights" => 7,
                    "guests" => 4,
                    "property_charge" => 895.00,
                    "User" => [
                        "first_name" => "Sarah",
                        "last_name" => "Thompson",
                        "email" => "sarah.thompson@example.co.uk",
                        "phone" => "+44 7700 900123",
                        "address" => "14 Harbour View",
                        "city" => "Bristol",
                        "country" => "United Kingdom",
                    ],
                ]),
            ]);
            $response = curl_exec($ch);
            curl_close($ch);
            echo $response;

  /developer/bookings/validate-voucher:
    post:
      operationId: validateVoucher
      summary: Validate a discount voucher
      description: >
        Validate a voucher code against a specific property, stay dates, and total price.
        Returns whether the voucher is valid, the discount type and amount, and the
        updated total price after discount. Use this in the booking flow to let guests
        apply promo codes before payment.
      tags:
        - Booking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VoucherRequest"
      responses:
        "200":
          description: Voucher validation result with discount details and adjusted price
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherResult"
        "400":
          description: Bad request — malformed body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Invalid API key, IP not whitelisted, or origin not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed — check message array for details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded — check Retry-After header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X POST "https://app.bookingbrain.com/api/v2/developer/bookings/validate-voucher" \
              -H "X-API-Key: bb_sandbox_test_key_do_not_use_in_production" \
              -H "Content-Type: application/json" \
              -d '{
                "voucher_code": "SUMMER20",
                "property_id": 42,
                "num_nights": 7,
                "checkin_date": "2026-07-04",
                "total_price": 895.00,
                "guest_email": "sarah.thompson@example.co.uk"
              }'
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              "https://app.bookingbrain.com/api/v2/developer/bookings/validate-voucher",
              {
                method: "POST",
                headers: {
                  "X-API-Key": "bb_sandbox_test_key_do_not_use_in_production",
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({
                  voucher_code: "SUMMER20",
                  property_id: 42,
                  num_nights: 7,
                  checkin_date: "2026-07-04",
                  total_price: 895.0,
                  guest_email: "sarah.thompson@example.co.uk",
                }),
              }
            );
            const data = await response.json();
            console.log(data);
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.post(
                "https://app.bookingbrain.com/api/v2/developer/bookings/validate-voucher",
                json={
                    "voucher_code": "SUMMER20",
                    "property_id": 42,
                    "num_nights": 7,
                    "checkin_date": "2026-07-04",
                    "total_price": 895.00,
                    "guest_email": "sarah.thompson@example.co.uk",
                },
                headers={"X-API-Key": "bb_sandbox_test_key_do_not_use_in_production"},
            )
            print(response.json())
        - lang: C#
          label: C#
          source: |
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Add("X-API-Key", "bb_sandbox_test_key_do_not_use_in_production");

            var content = new StringContent(
                @"{""voucher_code"":""SUMMER20"",""property_id"":42,""num_nights"":7,""checkin_date"":""2026-07-04"",""total_price"":895.00,""guest_email"":""sarah.thompson@example.co.uk""}",
                System.Text.Encoding.UTF8,
                "application/json"
            );
            var response = await client.PostAsync(
                "https://app.bookingbrain.com/api/v2/developer/bookings/validate-voucher",
                content
            );
            Console.WriteLine(await response.Content.ReadAsStringAsync());
        - lang: PHP
          label: PHP
          source: |
            $ch = curl_init();
            curl_setopt_array($ch, [
                CURLOPT_URL => "https://app.bookingbrain.com/api/v2/developer/bookings/validate-voucher",
                CURLOPT_RETURNTRANSFER => true,
                CURLOPT_POST => true,
                CURLOPT_HTTPHEADER => [
                    "X-API-Key: bb_sandbox_test_key_do_not_use_in_production",
                    "Content-Type: application/json",
                ],
                CURLOPT_POSTFIELDS => json_encode([
                    "voucher_code" => "SUMMER20",
                    "property_id" => 42,
                    "num_nights" => 7,
                    "checkin_date" => "2026-07-04",
                    "total_price" => 895.00,
                    "guest_email" => "sarah.thompson@example.co.uk",
                ]),
            ]);
            $response = curl_exec($ch);
            curl_close($ch);
            echo $response;

  # ──────────────────────────────────────────────
  # Payment
  # ──────────────────────────────────────────────

  /developer/bookings/processPayment:
    post:
      operationId: processPayment
      summary: Process a payment via SagePay
      description: >
        Process a card payment for an existing booking via the SagePay/Opayo gateway.
        Returns either a success confirmation or a 3D Secure redirect URL if additional
        cardholder authentication is required. Sandbox API keys cannot process real
        payments and will receive an error. Card details are transmitted securely and
        never stored.
      tags:
        - Payment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentRequest"
      responses:
        "200":
          description: Payment result — either success confirmation or 3DS redirect details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResult"
        "400":
          description: Bad request — malformed body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Invalid API key, IP not whitelisted, or origin not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed — check message array for details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded — check Retry-After header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X POST "https://app.bookingbrain.com/api/v2/developer/bookings/processPayment" \
              -H "X-API-Key: bb_sandbox_test_key_do_not_use_in_production" \
              -H "Content-Type: application/json" \
              -d '{
                "booking_id": 28456,
                "card_holder": "Sarah Thompson",
                "card_number": "4929000000006",
                "expiry_date": "1228",
                "security_code": "123",
                "amount": 895.00,
                "payment_type": "full"
              }'
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              "https://app.bookingbrain.com/api/v2/developer/bookings/processPayment",
              {
                method: "POST",
                headers: {
                  "X-API-Key": "bb_sandbox_test_key_do_not_use_in_production",
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({
                  booking_id: 28456,
                  card_holder: "Sarah Thompson",
                  card_number: "4929000000006",
                  expiry_date: "1228",
                  security_code: "123",
                  amount: 895.0,
                  payment_type: "full",
                }),
              }
            );
            const data = await response.json();
            console.log(data);
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.post(
                "https://app.bookingbrain.com/api/v2/developer/bookings/processPayment",
                json={
                    "booking_id": 28456,
                    "card_holder": "Sarah Thompson",
                    "card_number": "4929000000006",
                    "expiry_date": "1228",
                    "security_code": "123",
                    "amount": 895.00,
                    "payment_type": "full",
                },
                headers={"X-API-Key": "bb_sandbox_test_key_do_not_use_in_production"},
            )
            print(response.json())
        - lang: C#
          label: C#
          source: |
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Add("X-API-Key", "bb_sandbox_test_key_do_not_use_in_production");

            var content = new StringContent(
                @"{""booking_id"":28456,""card_holder"":""Sarah Thompson"",""card_number"":""4929000000006"",""expiry_date"":""1228"",""security_code"":""123"",""amount"":895.00,""payment_type"":""full""}",
                System.Text.Encoding.UTF8,
                "application/json"
            );
            var response = await client.PostAsync(
                "https://app.bookingbrain.com/api/v2/developer/bookings/processPayment",
                content
            );
            Console.WriteLine(await response.Content.ReadAsStringAsync());
        - lang: PHP
          label: PHP
          source: |
            $ch = curl_init();
            curl_setopt_array($ch, [
                CURLOPT_URL => "https://app.bookingbrain.com/api/v2/developer/bookings/processPayment",
                CURLOPT_RETURNTRANSFER => true,
                CURLOPT_POST => true,
                CURLOPT_HTTPHEADER => [
                    "X-API-Key: bb_sandbox_test_key_do_not_use_in_production",
                    "Content-Type: application/json",
                ],
                CURLOPT_POSTFIELDS => json_encode([
                    "booking_id" => 28456,
                    "card_holder" => "Sarah Thompson",
                    "card_number" => "4929000000006",
                    "expiry_date" => "1228",
                    "security_code" => "123",
                    "amount" => 895.00,
                    "payment_type" => "full",
                ]),
            ]);
            $response = curl_exec($ch);
            curl_close($ch);
            echo $response;

  # ──────────────────────────────────────────────
  # Places
  # ──────────────────────────────────────────────

  /developer/places:
    get:
      operationId: getAllPlaces
      summary: Get all property places/locations
      description: >
        Retrieve all active destination areas (places) where properties are listed.
        Returns place names, slugs, coordinates, cover photos, and descriptions. Use
        this to build a location picker, homepage destination grid, or map-based navigation.
      tags:
        - Places
      responses:
        "200":
          description: List of all active places with names, slugs, coordinates, and cover photos
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlacesResponse"
        "403":
          description: Invalid API key, IP not whitelisted, or origin not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded — check Retry-After header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X GET "https://app.bookingbrain.com/api/v2/developer/places" \
              -H "X-API-Key: bb_sandbox_test_key_do_not_use_in_production"
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              "https://app.bookingbrain.com/api/v2/developer/places",
              {
                headers: {
                  "X-API-Key": "bb_sandbox_test_key_do_not_use_in_production",
                },
              }
            );
            const data = await response.json();
            console.log(data);
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://app.bookingbrain.com/api/v2/developer/places",
                headers={"X-API-Key": "bb_sandbox_test_key_do_not_use_in_production"},
            )
            print(response.json())
        - lang: C#
          label: C#
          source: |
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Add("X-API-Key", "bb_sandbox_test_key_do_not_use_in_production");

            var response = await client.GetAsync(
                "https://app.bookingbrain.com/api/v2/developer/places"
            );
            var json = await response.Content.ReadAsStringAsync();
            Console.WriteLine(json);
        - lang: PHP
          label: PHP
          source: |
            $ch = curl_init();
            curl_setopt_array($ch, [
                CURLOPT_URL => "https://app.bookingbrain.com/api/v2/developer/places",
                CURLOPT_RETURNTRANSFER => true,
                CURLOPT_HTTPHEADER => [
                    "X-API-Key: bb_sandbox_test_key_do_not_use_in_production",
                ],
            ]);
            $response = curl_exec($ch);
            curl_close($ch);
            echo $response;

  /developer/places/{slug}:
    get:
      operationId: getPropertiesByPlace
      summary: Get properties by place slug
      description: >
        Retrieve all properties within a specific place/destination area, with optional
        filters for guests, check-in date, and number of nights. Returns paginated
        property summaries. Use this to build a destination landing page showing all
        available properties in an area.
      tags:
        - Places
      parameters:
        - name: slug
          in: path
          required: true
          description: Place slug (e.g., "porlock", "north-devon", "exmoor")
          schema:
            type: string
          example: porlock
        - name: guests
          in: query
          required: false
          description: Number of guests to filter by
          schema:
            type: integer
            minimum: 1
          example: 4
        - name: checkin
          in: query
          required: false
          description: Check-in date (YYYY-MM-DD)
          schema:
            type: string
            format: date
          example: "2026-07-01"
        - name: nights
          in: query
          required: false
          description: Number of nights
          schema:
            type: integer
            minimum: 1
          example: 7
        - name: page
          in: query
          required: false
          description: 'Page number (default: 1)'
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: limit
          in: query
          required: false
          description: 'Results per page (default: 20)'
          schema:
            type: integer
            minimum: 1
            default: 20
          example: 20
      responses:
        "200":
          description: Paginated list of properties in the specified place
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the request was successful
                    example: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/PropertySummary"
                    description: Array of property summaries
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "403":
          description: Invalid API key, IP not whitelisted, or origin not allowed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Place not found for the given slug
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Rate limit exceeded — check Retry-After header
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitError"
      x-codeSamples:
        - lang: cURL
          label: cURL
          source: |
            curl -X GET "https://app.bookingbrain.com/api/v2/developer/places/porlock?guests=4&checkin=2026-07-01&nights=7" \
              -H "X-API-Key: bb_sandbox_test_key_do_not_use_in_production"
        - lang: JavaScript
          label: JavaScript
          source: |
            const response = await fetch(
              "https://app.bookingbrain.com/api/v2/developer/places/porlock?guests=4&checkin=2026-07-01&nights=7",
              {
                headers: {
                  "X-API-Key": "bb_sandbox_test_key_do_not_use_in_production",
                },
              }
            );
            const data = await response.json();
            console.log(data);
        - lang: Python
          label: Python
          source: |
            import requests

            response = requests.get(
                "https://app.bookingbrain.com/api/v2/developer/places/porlock",
                params={"guests": 4, "checkin": "2026-07-01", "nights": 7},
                headers={"X-API-Key": "bb_sandbox_test_key_do_not_use_in_production"},
            )
            print(response.json())
        - lang: C#
          label: C#
          source: |
            using var client = new HttpClient();
            client.DefaultRequestHeaders.Add("X-API-Key", "bb_sandbox_test_key_do_not_use_in_production");

            var response = await client.GetAsync(
                "https://app.bookingbrain.com/api/v2/developer/places/porlock?guests=4&checkin=2026-07-01&nights=7"
            );
            var json = await response.Content.ReadAsStringAsync();
            Console.WriteLine(json);
        - lang: PHP
          label: PHP
          source: |
            $ch = curl_init();
            curl_setopt_array($ch, [
                CURLOPT_URL => "https://app.bookingbrain.com/api/v2/developer/places/porlock?guests=4&checkin=2026-07-01&nights=7",
                CURLOPT_RETURNTRANSFER => true,
                CURLOPT_HTTPHEADER => [
                    "X-API-Key: bb_sandbox_test_key_do_not_use_in_production",
                ],
            ]);
            $response = curl_exec($ch);
            curl_close($ch);
            echo $response;

  # ──────────────────────────────────────────────
  # Usage
  # ──────────────────────────────────────────────

  /developer/usage/stats:
    get:
      operationId: getUsageStats
      summary: Get API usage statistics for a client
      description: >
        Retrieve aggregated API usage statistics for a specific client, optionally
        filtered by date range. Returns call counts, endpoint breakdowns, and error
        rates. Use this to monitor your integration's API consumption and identify
        usage patterns.
      tags:
        - Usage
      parameters:
        - name: client_id
          in: query
          required: true
          description: Client ID to retrieve usage stats for
          schema:
            type: string
          example: "1"
        - name: start_date
          in: query
          required: false
          description: Start date for the stats period (YYYY-MM-DD)
          schema:
            type: string
            format: date
          example: "2026-03-01"
        - name: end_date
          in: query
          required: false
          description: End date for the stats period (YYYY-MM-DD)
          schema:
            type: string
[...]
